body {
  font-family: Georgia;
}

h1 {
  text-align: center;
  font-size: 20px;
}

.box {
  padding: 5%;
  border: 1px solid black;
  width: 60%;
  margin: 0 auto;
}

.italic {
  font-style: italic;
  text-decoration: underline;
}
.pics {
  display: inline-block;
}
#right {
  padding-left: 15px;
}